@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta la barra de scroll sin impedir el scroll horizontal */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
